.DS_Store
.obsidian

*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.toc
*.fdb*
*.fls
*.lof
*.lot 
*.bcf



.venv
datasets/Toys_and_Games.csv
datasets/Video_Games.test.csv
datasets/Video_Games.train.csv
datasets/Video_Games.valid.csv
