.DS_Store
.obsidian

__pycache__

*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.toc
*.fdb*
*.fls
*.bcf 
*.run.xml
*.synctex(busy)
*.synctex.gz(busy)
*.lot 
*.lof

.venv
datasets/**/*.csv
db/neo4j/data/
db/neo4j/plugins

*.duckdb
*.json
*.tmp

*.pth
*.jsonl
*.tsv

archive