.DS_Store
.obsidian

*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.toc
*.fdb*
*.fls
*.bcf 
*.run.xml
*.synctex(busy)
*.synctex.gz(busy)
*.lot 
*.lof

.venv
datasets/*.csv
db/neo4j/data/
db/neo4j/plugins

*.duckdb

archive