duckdb
huggingface_hub
datasets
sqlalchemy
unidecode
pandas
langchain
langchain-community
langchain-openai
langchain-google-genai
langchain-experimental
neo4j
jupyter
json-repair
tabulate
torch
fuzzywuzzy 
python-Levenshtein
pillow